<footer class="">
    <div class="container">
        <div class="subscribe">
            <div class="row">
                <div class="col-md-2">
                    <h3>Who We Are</h3>
                    <a href="#">About Us</a><br>
                    <a href="#">Mission, Vission & Goals
                    </a><br>
                    <a href="#">Our Message
                    </a><br>
                    <a href="#">Board of Trustees</a><br>
                    <a href="#">Board of Directors</a><br>
                    <a href="#">FAQ’s</a><br>
                </div>
                <div class="col-md-2">
                    <h3>What we do</h3>
                    <a href="#">Research</a><br>
                    <a href="#">Programmes</a><br>
                    <a href="#">Collaborations
                        </a><br>
                    <a href="#">in2Hc</a><br>
                    </div>
                <div class="col-md-2">
                    <h3>Get Involved</h3>
                    <a href="#">Donate
                    </a><br>
                    <a href="#">Partners</a>
                </div>
                <div class="col-md-2">
                    <h3>Who We Are</h3>
                    <a href="#">Photo Gallery</a><br>
                    <a href="#">Video Gallery</a><br>
                    <a href="#">Social Media Hub</a><br>
                    <a href="#">Events</a><br>
    
                </div>
                <div class="col-md-4">
                    <h3>Contact Us</h3>
                    <a href="#">Contact Details</a><br>
                    <a href="#">Careers</a><br>
                    <h3 class="newsletter">Subscribe to our Newsletter </h3>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-secondary" type="button">Subscribe</button>
                        </div>
                      </div>
                </div>      
            </div>
        </div>
    </div>    
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <a href="#">Terms & Conditions</a> | 
                    <a href="#">Privacy Policy</a> | 
                    <a href="#">User Agreement</a> | 
                    <a href="#"> Sitemap</a> 
                </div>
                <div class="col-md-3"><p class="text-right">Copyright 2016 LinkDev. All Rights Reserved.</p></div>
            </div>
        </div>
    </div>
</footer>