<section *ngIf="selected_article">
    <div class="navigation">
        <div class="container">
            <a routerLink="/home" routerLinkActive="active">Home</a> >
            <a href="#">Media Center</a> >
            <a class="" href="#">Press Release</a> >
            <a class="active" >{{selected_article.title}}</a>
        </div>
    </div>
    <div class="details container">
        <h1>PRESS RELEASE</h1>
        <img class="img-responsive" [src]="selected_article.urlToImage" alt="image">

        <div class="description">
            <h4>{{selected_article.title}}
            </h4>
            <p>{{selected_article.publishedAt | date}}</p>
            <p>{{selected_article.content}}
        </p>
        <h4>ATTATCHMENTS
        </h4>
        <p>sadasd</p>
        <h4>YOU MAY ALSO BE INTERESTED IN
        </h4>
        </div>
    </div>

</section>