section{
    margin-top: 7%;
    padding-top: 90px;
}
section .navigation{
    
    padding: 10px 0px 10px 0px;
    background-color: white ;
    border-bottom: 1px solid #EBEBEB;
}
.navigation a{
    color: #A9AAAE;
}
a.active{
    color: #008795 !important;
}
.details{
    padding-top: 30px;
}
.details h1,h2,h3,h4,h5,h6{
    color: #008795;
}
.details h1{
    padding-bottom: 30px;
}
section .details img{
    float: left;
    padding: 0px 30px 30px 0px;
    height: 400px;
    width: 600px;

}
