<section>
    <div class="navigation">
        <div class="container">
            <a routerLink="/home" routerLinkActive="active">Home</a> >
            <a href="#">Media Center</a> >
            <a class="active" routerLink="/news" routerLinkActive="active">Press Release</a>
        </div>
    </div>
    <div class="press-release">
        <div class="container">
            <h1>PRESS RELEASE</h1>
            <div class="row">
                <div class="col-md-4">
                    <form [formGroup]="categoriesForm">
                        <select formControlName="categoryControl"  class="custom-select mb-3" (change)="filterNews($event)">
                            <option [value]="">Show All</option>
                            <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
                        </select>
                      </form>
                </div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        <!--search textInput to use data bindings to dynamically search for news with the title of the search bar-->
                        <input [(ngModel)]="searchText.title"  type="text" class="form-control" placeholder="Title">
                        <div class="input-group-append">
                          <button class="btn btn-secondary" type="button"><img src="../../assets/img/Icon/search-white.svg"></button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <app-event-card [articles]="articles.slice(startPage,paginationLimit) | filterBy:searchText" (selected)="selectEvent($event)"></app-event-card>
             </div>
             <div class="row">
                <button class="btn btn-lg btn-block load-more" *ngIf ="paginationLimit < 20
                " (click)="showMoreItems()">
                    LOAD MORE
                </button>
             </div>
        </div>
    </div>
</section>