<section>
    <div class="navigation">
        <div class="container">
            <a routerLink="/home" routerLinkActive="active">Home</a> >
            <a href="#">Media Center</a> >
            <a class="active" href="#">Press Release</a>
        </div>
    </div>
    <div class="press-release">
        <div class="container">
            <h1>PRESS RELEASE</h1>
            <div class="row">
                <div class="col-md-4">
                    <form [formGroup]="categoriesForm">
                        <select formControlName="categoryControl" class="custom-select mb-3">
                            <option [value]="category" *ngFor="let category of categories">{{category.name}}</option>
                        </select>
                      </form>
                </div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Title
                        " aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-secondary" type="button">Subscribe</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <app-event-card [articles]="articles.slice(0,8)"></app-event-card>
             </div>
        </div>
    </div>
</section>