section{
    margin-top: 7%;
    padding-top: 90px;
}
section .navigation{
    
    padding: 10px 0px 10px 0px;
    background-color: white ;
    border-bottom: 1px solid #EBEBEB;
}
.navigation a{
    color: #A9AAAE;
}
a.active{
    color: #008795 !important;
}
.press-release{
    color: #008795;
    background-color: white;
}
