/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


.container{
    width: 80%;
    max-width: 80%;
}
a{
    color: #008795;
}
@media (max-width: 1024px) {
    h2{
        font-size: 25px;
    }
    h1{
        font-size: 35px;
    }
  
    span{
        font-size: 30px !important;
    }
}